---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Hotel Atrium",
    icon: "frameworks/react",
    url: "https://www.instagram.com/hotelatriumplaza/",
  },
  {
    title: "Tronco e Arepa",
    icon: "frameworks/preact",
    url: "https://www.instagram.com/troncoearepaa/",
  },
  {
    title: "Deko",
    icon: "frameworks/svelte",
    url: "https://www.instagram.com/deko.co/",
  },
  {
    title: "Viva",
    icon: "frameworks/vue",
    url: "https://www.instagram.com/vivatucredito/",
  },
  {
    title: "Tinngo",
    icon: "frameworks/solid",
    url: "https://www.instagram.com/tinngo.col/",
  },
  {
    title: "Atalú",
    icon: "frameworks/lit",
    url: "https://www.instagram.com/atalu_pasteleria/",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "Netlify",
    icon: "platforms/netlify",
    url: "https://www.netlify.com/",
  },
  {
    title: "Vercel",
    icon: "platforms/vercel",
    url: "https://vercel.com/",
  },
  {
    title: "Cloudflare",
    icon: "fa-brands:cloudflare",
    url: "https://pages.cloudflare.com/",
  },
  {
    title: "Render",
    icon: "platforms/render",
    url: "https://render.com/",
  },
  {
    title: "GitHub",
    icon: "fa-brands:github",
    url: "https://pages.github.com/",
  },
  {
    title: "GitLab",
    icon: "fa-brands:gitlab",
    url: "https://docs.gitlab.com/ee/user/project/pages/",
  },
];
---

<ContentSection title="Nuestros clientes" id="compatibility">
  <Fragment slot="lead">
    Nada hablará mejor que <span class="text-primary">nuestro trabajo</span>. Echa un vistazo y{" "}
    <span class="text-primary">convéncete</span>
    de que trabajar juntos será la <span class="text-primary">mejor decisión</span>.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Redes Sociales"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
    items={platforms}
    title="Web-Apps"
    url="https://docs.astro.build/guides/deploy/"
  />
</ContentSection>
