---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Diagnóstico: perfil de Instagram",
    description:
      "Nuestro equipo de expertos revisarán con lupa tu perfil y la estrategia que estás implementando. Además, recibirás un feedback con los puntos a mejorar.",
    icon: "mdi:instagram",
  },
  {
    title: "Manejo de redes sociales",
    description:
      "Nuestro objetivo no es solo lograr que estés en redes sociales, sino crear una comunidad fiel, un contenido acorde a tu marca y unas estrategias de marketing que cumplan tus expectativas.",
    icon: "tabler:social",
  },
  {
    title: "Branding",
    description:
      "Creamos marcas cuya historia vale la pena escuchar y sobre todo saber contar, por eso creemos en el poder del branding para darle personalidad a tu empresa.",
    icon: "simple-icons:materialdesign",
  },
  {
    title: "Diseño de E-commerce y paginas web",
    description:
      "Creamos sitios web que vale la pena mirar y comprar, con una experiencia de usuario que se caracteriza por su alta calidad y eficiencia",
    icon: "mdi:web",
  },
  {
    title: "Diseño UX/UI",
    description:
      "Nos encargamos de ofrecerles a tus usuarios una experiencia satisfactoria y atractiva en tu web. Hacemos optimización de interfaces amigables y prácticas.",
    icon: "simple-icons:redux",
  },
  {
    title: "Desarrollo de Apps y plataformas web",
    description:
      "Nuestro principal objetivo es hacer crecer tu negocio en linea. Diseñamos y desarrollamos páginas web amigables, pensadas en la experiencia de tus usuarios y fáciles de manejar.",
    icon: "ic:round-developer-mode",
  },
];
---

<ContentSection title="Servicios" id="features">
  <Fragment slot="lead">
    Nuestro proceso es <span class="text-primary">ágil, personalizado y controlado</span>. reduce el riesgo, aumenta la
    <span class="text-primary">transparencia</span>
    entre nuestro equipo y el tuyo, <span class="text-primary">y permite las entregas a tiempo</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
